# Hidden files
.*
!.gitignore
!.vscode/               # pick up custom launch configs
!.terraform.lock.hcl

# Project folders
src/front-end/node_modules/
src/front-end/dist/

# misc
iac/terraform.tfstate.backup

# personal stuff
.env

# ignore temp files
~*